# Created by https://www.toptal.com/developers/gitignore/api/renpy
# Edit at https://www.toptal.com/developers/gitignore?templates=renpy

### Renpy ###
# Don't track content of these folders #
########################################
cache/
saves/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc


# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt

# End of https://www.toptal.com/developers/gitignore/api/renpy
game/scripts/events.rpyc
*.rpyc
*.save
*.rpyb
errors.txt
game/cache/shaders.txt
game/saves/navigation.json
game/saves/persistent
game/saves/navigation.json
game/cache/shaders.txt
*.save
